/* alert box */

.alert {
    // background-image: url(images/alertFruit.png);
    height: 1000px;
    top: 10px;
    width: 1000px;
    left: 35px;
    position: fixed;
    background-repeat: no-repeat;
    z-index: 100;
}

.result {
    position: absolute;
    top: 412px;
    left: 481px;
}

.result:hover {
    left: 481px;
}

#finishM {
    padding: 0;
    margin: 328px auto auto -34px;
}
