/*animation images for squishing fruit*/

.squish {
    left: 29%;
}

.pestle {
    top: 30px;
    left: 602px;
    position: relative;
    height: 300px;
    transform: rotate(16deg);
}

.squishFruit {
    position: fixed;
    width: 437px;
    top: 454px;
    left: 626px;
}

.squishFruit2 {
    position: fixed;
    width: 437px;
    top: 409px;
    left: 626px;
}

.squishFruit3 {
    position: fixed;
    width: 437px;
    top: 399px;
    left: 626px;
}
