/*animation images for squishing fruit*/

.squish {
  left: 29%;
}

.pestle {
  position: relative;
  height: 300px;
  transform: rotate(16deg);
  z-index: 8;
}

.squishFruit {
  width: 437px;
  z-index: 8;
  opacity: 0;
  transform: translateY(15px);
}

.squishFruit2 {
  width: 437px;
  z-index: 7;
  opacity: 0;
  transform: translateY(15px);
}

.squishFruit3 {
  width: 437px;
  z-index: 8;
  opacity: 0;
  transform: translateY(15px);
}

.bowlFront {
  position: fixed;
  width: 437px;
  top: 409px;
  left: 626px;
  z-index: 10;
}

.bowlBack {
  position: fixed;
  width: 437px;
  top: 399px;
  left: 626px;
  z-index: 2;
}

.fruit-1-in-bowl {
  width: 100px;
  margin: 280px auto auto 87px;
  transition: 700ms;
}

.fruit-2-in-bowl {
  width: 100px;
  margin: 280px auto auto -38px;
  transition: 700ms;
}

.fruit-3-in-bowl {
  width: 100px;
  margin: 280px auto auto -43px;
  transition: 700ms;
}
