.container {
  width: 430px;
  padding: 0 40px;
  position: relative;
}

.bowlLeft,
.bowlRight,
.bowlMiddle {
  width: 100px;
  margin-right: 10px;
  margin-left: 10px;
  position: absolute;
  top: 10rem;
  z-index: 8;
}

.bowlRight {
  transform: rotate(32deg);
  margin-top: 50px;
  left: 20rem;
}

.bowlMiddle {
  margin-bottom: 50px;
  left: 11rem;
}

.bowlLeft {
  transform: rotate(-32deg);
  margin-top: 50px;
}

.bigBowl {
  width: 490px;
  top: 18rem;
  position: absolute;
  z-index: 2;
  left: 0;
}
