body {
    background: url('https://marissamcdonnellportfolio.files.wordpress.com/2018/03/culinaryfruitsfrontview.png');
    background-size: cover;
    background-position: center;
    cursor: default;
}

h1 {
    font-weight: 900;
    font-size: 64px;
    margin: 1rem 0;
    color: red;
    text-align: center;
    font-family: $main-font;
}

h3 {
    text-align: center;
    margin: 1rem 0;
    font-size: 34px;
    color: red;
    font-family: $main-font;
}

p {
    text-align: center;
    margin: .5rem 0;
    font-size: 18px;
    line-height: 28px;
    color: red;
    font-family: $main-font;
}

.is-active {
    background-color: $yellow;
    padding: 6px 22px;
}
